.containerLoader {
    width: 100%;
    min-height: 250px;
    max-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00AC7C;
}

.loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 8px solid #fff;
    border-left: 8px solid #fff;
    border-right: 8px solid #ff00;
    animation: loader .7s infinite linear;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.productsList {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-items: center;
    padding: 5rem;
    width: 100%;
}

.cardProduct {
    width: 100%;
    min-height: 250px;
    max-height: 380px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #fff;
    padding: 1rem;
    transition: all .3s;
    position: relative;
}

.cardProduct:active {
    transform: scale(0.98);
}

.imageProduct {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: contain;
}

.infoProduct {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
}

.cardProduct .titleProduct {
    font-size: 25px;
    font-weight: 400;
    min-height: 70px;
    color: #000;
    border-bottom: #000 solid 1px;
}

.cardProduct .priceProduct {
    font-size: 16px;
    color: #000;
}

.options {
    padding-top: 2rem;
    padding-left: 2rem;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    width: 100%;
    height: 25%;
    font-weight: 600;
    opacity: 0;
    transition: all .3s;
}

.options .cart {
    width: 40px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #252525;
    border-radius: 50px;
    transition: all .3s;
}

.options .cart:hover {
    background-color: #ffe7de;
}

.cardProduct:hover .options {
    bottom: 0;
    opacity: 1;
}


.cardProduct:active .options {
    transition: all .3s;
    height: 4.5rem;
}