.button {
    max-height:  35px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    background-color: transparent;
    transition: all .4s;
    cursor: pointer;
}

.button:hover{
    color: white;
    border: 1px solid #fff;
}
