.header {
    padding: 1.1% 10px;
    color: #000;
    font-size: 28px;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #11101d;
    display: grid;
    grid-template-columns: 15% auto;
    
}

.header .i_sidebar #btn2 {
    color: #fff;
    position: fixed;
    left: -5px;
    top: 3%;
    font-size: 16px;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: all 0.5s ease;
}

.header .logo_header {
    margin-left: 0;
    align-self: center;
}

@media (min-width: 769px) {
    .header {
        grid-template-columns: 5% auto;
    }
}