.header {
    width: 100%;
    z-index: 9;
    position: fixed;
}
.header .cart {
    width: 25px;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    transition: all .4s;
}
.header .headerBottom {
    height: 40px;
    background-color: #252525;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.header .headerBottom .boxPages,
.header .headerBottom .boxButton {
    display: flex;
    align-items: center;
    gap:  15px;
    padding: 0 15px;
}
.section{
    font-size: 16px;
    padding: 1rem 0;
    line-height: 1.25;
    font-weight: 600;
}
.category{
    font-size: 14px;
    padding: .3rem 0;
    color: #666;
}
.category:last-child{
    border-top: 1px  solid #666666;
}
